<!doctype html>
<html lang="en">
    <head>
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
       <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/site.css')}}">
        <!-- ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light" style="background-color: #fff;">
            <div class="navbar-brand" style="color:#000">
                <p id="icon" style="display: inline-block; margin-bottom: 0px; text-shadow: rgb(2, 118, 171) 0px 0px 0px; font-size: 20px; color: rgb(255, 255, 255); height: 30px; width: 34px; line-height: 30px; border-radius: 18%; text-align: center; background-color: rgb(3, 169, 244);"> RG </p>
                Rubber Goose Debugger
            </div>
        </nav>
        <div class="container bootstrap snippets bootdey" style="margin-top: 40px; margin-bottom: 100px;">
            <div class="tile tile-alt" id="messages-main">
                <div class="ms-body">
                    <div id="history">
                        <div class="message-feed media">
                            <div class="pull-left">
                                <img src="{{url_for('static', filename='img/001-goose.png')}}" alt="" class="img-avatar">
                            </div>
                            <div class="media-body">
                                <div class="mf-content">
                                    {{chatHistory}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="message-feed right">
                            <div class="media-body">
                                <div class="mf-content">
                                    {{replyHistory}}
                                </div>
                            </div>
                        </div>
                        
                    <div class="msb-reply">
                        <div class="reply-btn">
                            <h2 color="black">{{replyNumber}}</h2>
                            <button type="button"> {{replyText}}</button>
                            <i style="color:black;font-size: x-large;" class="bi bi-arrow-right-circle-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>